<h1>Sign Up</h1>

<%= form_for @user, :url => user_path do |f| %>
  <fieldset>
    <%= render "shared/form_errors", :object => @user %>
    <%= render :partial => "form", :object => f %>
    <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
  </fieldset>
<% end %>

<p>Already signed up? <%= link_to "Sign in here.", :signin %></p>