<h3>Your To-Do List Items</h4>

<p><%= link_to "Create a New To Do Item", new_item_path, :class => "btn btn-small" %></p>

<div id="instructions"><p>Grab by title to re-sort.  Click "Save Sort Order" when you're finished sorting.</p></div>

<div class="row">
   <div class="span9">
	   <ul id="todo_items">
	   <% @items.each do |item| %>
	     <li id="item_<%= item.id %>">
		     <%= render item %>
		    </li>
			<% end %>
		</ul>
  </div>
</div>

<%= form_for :items, :url => :save_sort_order, :html => {:id => "hidden_sort_form"}, :remote => true do |f| %>
	<input type="hidden" name="sort_order[]" value="" id="sort_order"/>
	<%= f.submit "Save Sort Order", :class => 'btn btn-primary' %>
<% end %>

<script>
$(document).ready(function() {
	$("#todo_items").sortable({
  	handle : '.handle',
		update : function () {
			$('#sort_order').val($('#todo_items').sortable('serialize'));
			$('#sort-success').remove();
     }
	});
});
</script>