<h1>Create A New Item</h1>

<%= form_for @item, :url => items_path do |form| %>
  <p><b>Only Title is required.</b></p>

  <fieldset>
    <%= render "shared/form_errors", :object => @item %>

		<div class="control-group">
		  <%= form.label :title, :class => 'control-label' %>
		  <div class="controls">
		    <%= form.text_field :title, :class => 'text_field' %>
		  </div>
		</div>

		<div class="control-group">
		  <%= form.label :description, :class => 'control-label' %>
		  <div class="controls">
		    <%= form.text_area :description, :class => 'input-xlarge', :rows => 3, :cols => 10 %>
		  </div>
		</div>

		<div class="control-group">
	  	<%= form.label :due_date, :class => 'control-label' %>
	    <div class="controls">
				<%= form.date_select :due_date, :order => [:month, :day, :year], :include_blank => true %>
	  	</div>
		</div>
    <%= form.submit "Create Item", :class => 'btn btn-primary' %>
  </fieldset>
<% end %>

<p><%= link_to "Back to your items", items_path %></p>