<h1>Login</h1>

<%= form_for @user_session, :url => user_sessions_path do |f| %>
  <%= render "shared/form_errors", :object => @user_session %>
  <fieldset>
	  <div class="control-group">
	    <%= f.label :email_address, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :email_address, :class => 'text_field' %>
	    </div>
	  </div>

    <%= f.submit "Login", :class => 'btn btn-primary' %>
  </fieldset>
<% end %>

<p>Don't have an account? <%= link_to "Sign up now.", new_user_path %></p>
